html {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: top center;
}
header, nav, section, div, footer, main, form {
  display: block;
}
header {
  text-align: center;
  font-weight: 700;
  background: #fff;
  min-width: 768px;
  z-index: 60;
  position: fixed;
  width: 100%;
}
h1 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
h2 {
  font-size: 21px;
  line-height: 21px;
}
h3 {
  font-size: 30px;
  line-height: 36px;
}
p {
  font-size: 14px;
  line-height: 21px;
}
img {
  border-style: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
footer {
  width: 1200px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*Хедер*/
.container {
  background: #fff;
  width: 1200px;
  position: relative;
  margin: auto;
}
.main-header {
  position: static;
}
.site-navigation {
  font-size: 0;
  display: flex;
  margin: 0;
  line-height: 26px;
}
.site-navigation a {
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  font-size: 14px;
  line-height: 56px;
  font-weight: 700;
}
.site-navigation ul {
  margin: 0;
  padding: 0;
  height: 100%;
}
.site-navigation li {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
}
.link-1 {
  text-align: left;
}
.link-2 {
  text-align: left;
  margin-right: 9%;
}
.link-3 {
  text-align: right;
}
.link-4 {
  text-align: right;
  margin-left: 0.2%;
}
.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -60px;
}
/*Основная часть главной*/

/*Заглавное изображение*/

.poligon {
  position: absolute;
  width: 100.2%;
  height: auto;
}
.intro {
  background-image: url(../img/intro.jpg);
  background-repeat: no-repeat;
  background-color: #abc7d8;
  height: 431px;
  padding-top: 77px;
  background-size: cover;
}
.intro-sedona {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-bottom: 23px;
}
/*Вступительный текст*/

.title-page-text {
  max-width: 575px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 40px;
}
.promo {
  text-align: center;
}
/*Причины посетить*/

.row {
  display: flex;
  width: 1200px;
}
.column {
  width: 400px;
  height: 256px;
  vertical-align: top;
  justify-content: center;
}
.column-title {
  max-width: 190px;
  max-height: 51px;
  margin: 0 auto;
  padding-top: 54px;
}
.column-number {
  padding-bottom: 20px;
}
.column-description {
  margin: 0;
  padding: 0;
  max-width: 352px;
  padding-left: 24px;
}
.photo-sedona {
  width: 800px;
  min-height: 256px;
  max-height: 256px;
  overflow: hidden;
}
.column-1 {
  color: #fff;
  background-color: #81b3d2;
}
.column-2 {
  background-color: #f2f2f2;
}
.advices {
  padding: 0px;
}
.advice {
  width: 400px;
  height: 265px;
  padding-top: 56px;
}
.advice h2 {
  font-weight: bolder;
  margin-top: 28px;
  margin-bottom: 10px;
}
/* Бронирование */

.booking-section {
  width: 568px;
  height: 235px;
  margin-top: 58px;
  margin-bottom: 37px;
  margin-left: 316px;
  text-align: center;
}
.booking-title {
  height: 42px;
  margin: 14px 0 34px 0;
}
.booking-text {
  height: 42px;
  margin: 14px 0 50px 0;
}
/*Скрытое окно*/

.booking-info {
  width: 456px;
  height: 287px;
  color: #000000;
  background: #ffffff;
  border: none;
  font-weight: bold;
  padding: 55px;
  line-height: 26px;
  box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);
  position: absolute;
  margin-left: 316px;
}
.hotel-search {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
.form-line {
  width: 458px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.label {
  cursor: default;
}
.number {
  line-height: 26px;
  font-size: 14px;
  background-color: #f2f2f2;
  color: #000000;
  font: inherit;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  outline: none;
}
.number:hover {
  background-color: #ebebeb;
  color: #000000;
}
.number:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.btn-calendar {
  position: absolute;
  width: 21px;
  position: absolute;
  left: 480px;
  margin: 5px 0 0;
  padding: 0;
  font-size: 20px;
  color: #f2f2f2;
  border: 0px;
}
.date-line {
  width: 290px;
  padding: 4px 40px 4px 15px;
}
.grownup-info {
  display: inline-block;
  padding-right: 50px;
}
.input-wrapper {
  background: #f2f2f2;
}
.people {
  display: flex;
}
.btn-grey {
  color: #a9a9a9;
  background: #f2f2f2;
  width: 38px;
  height: 38px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}
/*Гостинницы*/

.result {
  padding: 29px 72px 30px 72px;
  box-sizing: border-box;
}
.finding {
  background: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}
.finding-text a {
  color: #dadada;
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}
.finding-text .sorting-active {
  color: #81b3d2;
  border: none;
  text-decoration: none;
}
.list {
  color: #000000;
}
.list:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.icon-up-dir {
  background-image: url(../img/icon-up-dir.svg);
}
.icon-down-dir {
  background-image: url(../img/icon-down-dir.svg);
}
.arrows {
  width: 110px;
}
.hotels {
  background: #fefefe;
}
.hotel {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  padding: 25px 72px;
  align-items: center;
}
.hotel-info h3 {
  font-size: 21px;
  line-height: 26px;
}
.hotel-title {
  color: #000000;
}
.hotel-title:hover {
  color: #81b3d2;
}
.hotel-title:active {
  color: #b2b2b2;
}
/*Кнопки и ссылки*/

.hotel-name a:hover, .site-navigation a:hover {
  color: #81b3d2;
}
.hotel-name a:active, .site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a.active {
  color: rgba(118, 99, 87, 1);
  pointer-events: none;
  cursor: default;
}
.btn {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buttons .btn {
  margin-bottom: 20px;
}
.btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.btn:active img, .btn:active svg {
  opacity: 0.3;
}
.btn-blue {
  background-color: #81b3d1;
}
.btn-blue:hover {
  background-color: #669dc0;
}
.btn-blue:active {
  background-color: #5495bd;
}
.btn-brown {
  background-color: #756357;
}
.btn-brown:hover {
  background-color: #604e43;
}
.btn-brown:active {
  background-color: #503d32;
}
.item-button {
  padding: 3px 17px;
}
.booking-btn {
  padding: 30px;
  width: 568px;
  font-size: 21px;
  line-height: 26px;
}
.btn-find {
  padding: 16px 20px;
  width: 100%;
  max-width: 458px;
  font-size: 21px;
  line-height: 26px;
  margin-top: 55px;
}
.social-icon img, .social-icon svg {
  margin: auto;
  max-width: 20px;
  height: auto;
}
/*Футер*/

footer {
  background: ;
  padding: 36px 0;
  display: flex;
  width: 1200px;
  padding: 38px 0;
  align-items: center;
}
footer ul {
  font-size: 0;
}
.main-footer-hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: black;
  margin-left: 132px;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  justify-content: center;
}
.social-button {
  display: flex;
  font-size: 0;
}
.hashtag {
  font-weight: 700;
  font-size: 21px
}
.icon-twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}
.icon-facebook {
  background-image: url("../img/facebook.svg") -47px 0 no-repeat;
  width: 47px;
  background-repeat: no-repeat;
}
.icon-youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
}
.footer-copyright {
  font-size: 14px;
  color: #000000;
  line-height: 26px;
}

