html {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: top center;
}

.main-title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  display: block;
}
.title-text {
  font-size: 21px;
  line-height: 21px;
}
img {
  border-style: none;
}
a {
  text-decoration: none;
}
.ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  margin: -1px;
}
/*Хедер*/
.container {
  background: #fff;
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
.main-header {
  position: static;
  text-align: center;
  font-weight: 700;
  background: #fff;
  z-index: 60;
  width: 1200px;
}
.site-navigation {
  font-size: 0;
  display: flex;
  line-height: 26px;
}
.site-navigation a {
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  font-size: 14px;
  line-height: 56px;
  font-weight: 700;
}
.site-navigation li {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
}

.main-header-logo {
  position: absolute;
}
/*Основная часть главной*/

/*Заглавное изображение*/

.intro {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='1200 57'%3e%3cpath d='M0 57V0l250 24V0l350 57L950 0v24l250-24v57H0z' fill='%23fff'/%3e%3c/svg%3e "), url(../img/intro.jpg);
  background-repeat: no-repeat no-repeat;
  background-color: #abc7d8;
  height: 431px;
  padding-top: 77px;
  background-size: cover;
}
.intro-sedona {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-bottom: 23px;
}
/*Вступительный текст*/

.title-page-text {
  max-width: 575px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 40px;
}
.promo {
  text-align: center;
}
/*Причины посетить*/

.row {
  display: flex;
  width: 1200px;
}
.column {
  width: 400px;
  height: 256px;
  vertical-align: top;
  justify-content: center;
}
.column-title {
  max-width: 190px;
  max-height: 51px;
  margin: 0 auto;
  padding-top: 54px;
}
.column-number {
  padding-bottom: 20px;
}
.column-description {
  margin: 0;
  padding: 0;
  max-width: 352px;
  padding-left: 24px;
}
.photo-sedona {
  width: 800px;
  min-height: 256px;
  max-height: 256px;
  overflow: hidden;
  display: block;
}
.column-1 {
  color: #fff;
  background-color: #81b3d2;
}
.column-2 {
  background-color: #f2f2f2;
}
.advices {
  padding: 0px;
}
.advice {
  width: 400px;
  height: 265px;
  padding-top: 56px;
  display: block;
}
.advice h2 {
  margin-top: 28px;
  margin-bottom: 10px;
}
/* Бронирование */

.booking-section {
  width: 568px;
  margin-left: 316px;
  text-align: center;
}
.booking-title {
  margin: 14px 0 34px 0;
}
.booking-text {
  margin: 14px 0 50px 0;
}
/*Скрытое окно*/
.hotel-search {
  position: relative;
  overflow: hidden;
}
.booking-info {
  top: 0;
  left: 316px;
  width: 512px;
  padding-top: 55px;
  padding-left: 55px;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);
  margin: 0 auto;
  border: none;
}
.form-content {
  padding: 40px;
}
.form-line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.people {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 456px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  box-sizing: border-box;
  margin-left: 0;
}
.people:last-child {
  margin-right: 0;
}
.input-wrapper {
  position: relative;
  flex-grow: 1;
  width: 114px;
}
.labeles {
  flex: none;
  width: 112px;

  margin-right: 18px;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}
.number {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 100%;
  height: 38px;
  line-height: 26px;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #000000; 
  font-weight: 700; 
  font-size: 14px;
  outline: none;
  font: inherit;
  border: none;
  text-transform: uppercase;
}
.number:hover {
  background-color: #ebebeb;
  color: #000000;
}
.number:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.input-people {
  width: 114px;
  text-align: center;
}
.plus,
.minus,
.calendar { 
  position: absolute;
  top: 0;
  padding: 0;
  top: 0px;
  background-color: #f2f2f2;
  fill: #cacaca;
  border: none;
  cursor: pointer;
  width: 38px;
  height: 38px;
  text-align: center;
  vertical-align: middle;
  outline: none;
}
.calendar:hover,
.plus:hover,
.minus:hover {
  fill: #000000;
  border: none;
}
.calendar:active,
.plus:active,
.minus:active  {
  fill: #81b3d2;
}
.calendar,
.plus {
  right: 0;
}
.minus {
  left: 0;
}
.form-line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.label {
  cursor: default;
}
/*Гостинницы*/

.result {
  padding: 29px 72px 30px 72px;
  box-sizing: border-box;
}
.finding {
  background: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}
.finding-text a {
  color: #dadada;
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}
.finding-text .sorting-active {
  color: #81b3d2;
  border: none;
  text-decoration: none;
}
.list {
  color: #000000;
}
.list:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.icon-up-dir {
  background-image: url(../img/icon-up-dir.svg);
}
.icon-down-dir {
  background-image: url(../img/icon-down-dir.svg);
}
.arrows {
  width: 110px;
}
.hotels {
  background: #fefefe;
}
.hotel {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  padding: 25px 72px;
  align-items: center;
}
.hotel-info h3 {
  font-size: 21px;
  line-height: 26px;
}
.hotel-title {
  color: #000000;
}
.hotel-title:hover {
  color: #81b3d2;
}
.hotel-title:active {
  color: #b2b2b2;
}
/*Кнопки и ссылки*/

.hotel-name a:hover, .site-navigation a:hover {
  color: #81b3d2;
}
.hotel-name a:active, .site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a.active {
  color: rgba(118, 99, 87, 1);
  pointer-events: none;
  cursor: default;
}
.btn {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buttons .btn {
  margin-bottom: 20px;
}
.btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.btn:active img, .btn:active svg {
  opacity: 0.3;
}
.btn-blue {
  background-color: #81b3d1;
}
.btn-blue:hover {
  background-color: #669dc0;
}
.btn-blue:active {
  background-color: #5495bd;
}
.btn-brown {
  background-color: #756357;
}
.btn-brown:hover {
  background-color: #604e43;
}
.btn-brown:active {
  background-color: #503d32;
}
.item-button {
  padding: 3px 17px;
}
.booking-btn {
  padding: 30px;
  width: 568px;
  font-size: 21px;
  line-height: 26px;
  display: block;
}
.btn-find {
  padding: 16px 20px;
  width: 100%;
  max-width: 458px;
  font-size: 21px;
  line-height: 26px;
  margin-top: 55px;
}
.social-icon img, .social-icon svg {
  margin: auto;
  max-width: 20px;
}
/*Футер*/

.main-footer {
  background: ;
  padding: 36px 0;
  display: flex;
  padding: 38px 0;
  align-items: center;
}
.main-footer-hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: black;
  margin-left: 132px;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  justify-content: center;
}
.social-button {
  display: flex;
  font-size: 0;
}
.hashtag {
  font-weight: 700;
  font-size: 21px
}
.icon-twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}
.icon-facebook {
  background-image: url("../img/facebook.svg") -47px 0 no-repeat;
  width: 47px;
  background-repeat: no-repeat;
}
.icon-youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
}
.footer-copyright {
  font-size: 14px;
  color: #000000;
  line-height: 26px;
}

